@media screen and (max-width: 600px) {
    .wrapper, 
    .navWrapper {
        padding: 2rem 3rem;
    }

    .navWrapper {
        padding: 0 3rem; 
    }
    body {
        font-size: 1.6rem; 
        line-height: 2rem;
    }
    h1, 
    h2 {
        font-size: 4rem;
        line-height: 4.5rem;
        color: white; 
        font-weight: bold; 
    }
    
    h2 {
        color: $primary; 
        font-size: 3rem;
        line-height: 3rem;
    }
    
    .submitButton, 
    .resetButton {
        width: 100%;
    }
}